li {
    list-style: none;
}

menu {
    margin: 0;
}

.header {
    margin: 0;
    padding: 2em 0 1.5em;
    text-align: center;
}

.body {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.sidebar {
    flex: 0 0 25%;
    padding: 0;
    text-align: right;

    &__header {
        height: 6rem;
        padding: .5em 1em;   
    }

    &__body {

    }

}

.content {
    flex: 0 0 75%;
    padding: 0 2vw;
}

.products {
    
    &__list {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        box-shadow: 0 0 4em -.5em rgba(#000, .2);
        border-radius: .5em;
    
        flex: 0 0 30%;
        max-width: 30%;
        width: 30%;
    
        margin-bottom: 5%;
        margin-right: 5%;
    
        text-align: center;
        align-self: center;
    
        overflow: hidden;
    
        &:nth-child(3n) {
            margin-right: 0;
        }
    
        .price {
            
        }
    
    }

    &__name {}

    &__price {
        font-size: .75em;
        padding-bottom: .5em;
    }

}

.menu {

    &__item {
        display: block;
    
        margin-bottom: 1em;
    }

    &__link {

        display: inline-block;
    
        margin-bottom: .4em;
        margin-left: .4em;
        padding: .5em 1em;
    
        font-weight: bold;
    
        color: #355;
    
        border-radius: .4em;
    
        cursor: pointer;
    
        &:hover {
            background-color: #eef;
        }
    
        &.active {
            background-color: #C5CAE9;
            cursor: default;
        }
    
        &::first-letter {
            text-transform: capitalize;
        }
    
        transition: background-color .4s ease;
    
    }

}

.submenu {

    display: block;

    margin-bottom: .5em;

    border-right: 1px solid #eee;

    &__item {
        display: block;

        margin-right: 1em;
        padding: .35em .7em;

        font-size: .85em;
        font-weight: normal;
    }

}

.block {

    &__header {
        height: 6rem;
    }

    &__body {}

}