<template>

    <nav class="category-list">
        <router-link v-for="category in categories" v-bind:key="category.id" v-bind:to="{ name: 'category' }" class="category-item">{{ category.title }}</router-link>
    </nav>

</template>

<script>

    export default {

        data: function() {
            return {
                categories: [],
            }
        },

        mounted: function() {

            this.$http.get('/api/category').then(response => {
                this.categories = response.body.body.categories;
                console.log('Categories downloaded');
            }, response => {

            });

        }

    }
</script>
