<template>

    <li>
                    
        <router-link v-bind:to="{ name: 'category', params: {id: node.id}}" class="menu__link">{{ node.title }}</router-link>
        
        <ul class="submenu" v-if="node.children && node.children.length">
            <shop-nav-item class="submenu__item" v-for="child in node.children" v-bind:key="child.id" v-bind:node="child"></shop-nav-item>                    
        </ul>

    </li>
    
</template>

<script>

    export default {

        name: 'shop-nav-item',

        props: {
            node: Object
        }

    };
</script>
