<template>
    <menu class="menu">
        <shop-nav-item class="menu__item" v-for="item in items" v-bind:key="item.id" v-bind:node="item"></shop-nav-item>                    
    </menu>
</template>

<script>
    import ShopNavItem from './ShopNavItem.vue';

    export default {

        name: 'shop-nav',

        data: function() {
            return {
                items: []
            };
        },

        props: {
            id: Number
        },

        computed: {},

        methods: {},

        mounted: function() {
            this.$http.get("/api/category").then(response => {
                this.items = response.body.data;
            });
        },

        components: {
            ShopNavItem
        }

    }
</script>

