<template>
    <aside class="sidebar">

        <header class="sidebar__header">

        </header>

        <section class="sidebar__body">
            <shop-nav></shop-nav>
        </section>

    </aside>
</template>

<script>

    import ShopNav from './ShopNav.vue';

    export default {
        name: 'shop-sidebar',

        components: {
            ShopNav
        }

    };
</script>