<template>

<div class="content">

    <section class="products block">

        <header class="block__header">
            <h1 class="title">{{ category.title }}</h1>
            <p class="subtitle">{{ category.description }}</p>
        </header>

        <div class="block__body products__list">

            <div v-for="product in products" v-bind:key="product.id" class="products__item">
                <img v-bind:src="img_path(product.image)" alt="">
                <div class="products__name">{{ product.title }}</div>
                <div class="products__price">{{ product.price }}$</div>
            </div>

        </div>

    </section>

</div>

</template>

<script>
    export default {
        
        data: function() {
            return {
                products: [],
                category: '',
            }
        },

        
        watch: {
            '$route' (to, from) {
                if( to === from ) return;
                this.fetchProducts();
            }
        },

        mounted: function() {
            this.fetchProducts();
        },

        methods: {

            img_path: function(name) {
                return '/images/' + name;
            },

            fetchProducts: function(callback) {

                let id = this.$route.params.id;

                if(!id) return;

                this.$http.get("/api/category/" + id).then(response => {
                    this.products = response.body.data.products;
                    this.category = response.body.data;
                });

            }
            
        }
        
    }

</script>
