<template>

    <div class="layout">

        <header class="header">
            <h1 class="title">Laravel + Vue.js</h1>
            <p class="subtitle">Easy</p>
        </header>

        <main class="body">

            <shop-sidebar />
            <shop-products />
            <!--<blog-post :post="post"/>
            <blog-footer/>-->
            
        </main>

    </div>

</template>

<script>

    import ShopSidebar from './ShopSidebar.vue'
    import ShopProducts from './ShopProducts.vue'

    export default {
        name: 'shop',
        components: { ShopSidebar, ShopProducts },
        resource: 'Shop',
    }

</script>